@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0;}
.top{width:1440px;height:150px;
	margin:0 auto;
	background-image:url(../images/top.jpg);}
#about{width:960px;height:500px;
	margin:0 auto;
	}	
#practice{width:960px;height:500px;
	margin:0 auto;
	}
#photo{width:960px;height:500px;
	margin:0 auto;
	}
#friends{width:960px;height:500px;
	margin:0 auto;
	}
.title1{width:960px;height:100px;
	background-image:url(../images/about.jpg);}
.title2{width:960px;height:100px;
	background-image:url(../images/practice.jpg);}
.title3{width:960px;height:100px;
	background-image:url(../images/photo.jpg);}
.title4{width:960px;height:100px;
	background-image:url(../images/friends.jpg);}